@import "./variables";

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: content-box;
}
body {
  background-color: $primaryYellow;
}
.btn {
  background-color: $primaryYellow;
  @include baseFontBold;
  font-size: 12px;
}
.card {
  width: 330px;
  background-color: $neutralWhite;
  box-shadow: 10px 10px $neutralBlack;
  &-title {
    @include baseFontBold;
    font-size: 1.2 * $baseFontSize;
  }
  &:hover {
    box-shadow: 15px 15px $neutralBlack;
  }
}

.card-title:hover {
  cursor: pointer;
  color: $primaryYellow;
}

.grey {
  color: $neutralGrey;
}

@media (min-width: 768px) {
  .card {
    width: 385px;
  }
}
