@import "./variables";

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: content-box;
}
body {
  background-color: $primaryYellow;
}
.btn {
  background-color: $primaryYellow;
  @include baseFontBold;
  font-size: 12px;
}
.card {
  width: 330px;
  background-color: $neutralWhite;
  &-title {
    @include baseFontBold;
    font-size: 1.2 * $baseFontSize;
  }
}
.grey {
  color: $neutralGrey;
}
